.cardContainer {
  text-decoration: none;
  border: 2px solid white;
  border-radius: 10px;
  color: #233142;
  min-width: 200px;
  opacity: 100%;
  color: white;
  text-shadow: #233142;
  min-height: 443px;
  margin: 5px 20px;
  background-color: #233142;
  opacity: 40%;
}

.cardContainer:hover {
  opacity: 100%;
}
