.paginacion {
  margin: 20px 0;
}

.paginacion ul {
  list-style: none;
  text-align: center;
}

.paginacion ul li {
  display: inline-block;
  margin-right: 10px;
}

.paginacion ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #024959;
  text-decoration: none;
}

.paginacion ul li a:hover {
  background: #037e8c;
}
